<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Dice Roll</title>
</head>
<body>
<h1>Guess the Number</h1>
<ul>
    <li><a href="dice-results.html" name="1" id="1">1</a></li>
    <li><a href="dice-results.html" name="2" id="2">2</a></li>
    <li><a href="dice-results.html" name="3" id="3">3</a></li>
    <li><a href="dice-results.html" name="4" id="4">4</a></li>
    <li><a href="dice-results.html" name="5" id="5">5</a></li>
    <li><a href="dice-results.html" name="6" id="6">6</a></li>
</ul>




</body>
</html>